body {
  text-align: center;
  background: #1e1e1e;
  color: white;
  font-family: Arial;
}

canvas {
  background: black;
  width: 100%;
  max-width: 500px;
  border: 3px solid #555;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}
